name: Release Extension

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  deploy-to-hf-space:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Build and Zip Extension
        run: |
          bun wxt zip
          bun wxt zip -b firefox

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: .output/*.zip
          generate_release_notes: true
          draft: false
          prerelease: false
